@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body{
color : white;
font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}